<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>

    <div class="d-flex justify-content-center">
        <div class="container text-center">
            <h1 class="display-4">Todos</h1>
            <p class="lead">Create your own task list!</p>
            
            <!--Card-->

                <!--<img src="..." class="card-img-top" alt="...">-->
                <div class="card">
                     <!--formulaire d'entrée-->
                    <div class="card-header">
                        <div class="form-group">
                            <!--ajoute l'appel de la méthode ppour m'event sur entrée-->
                            <input type="text" class="form-control" (keyup)="addItem($event)" placeholder="Please enter your task ...">
                        </div>
                    </div>
                    <!--Liste de taches -->
                    <ul class="list-group list-group-flush text-left">
                        <!--template -->
                            <!--boucle for : *ngFor="let item of todoArray"  -->
                        <li *ngFor="let item of todoArray; let itemIndex = index" class="list-group-item d-flex justify-content-between" d-flex justify-content-between>
                            <!--checkbox-->
                            <!--aprés avoir ajoute slel signes de formsModules dans app moudule.ts-->
                            <!--[(ngModel)]="item.checked" affiche en cocher que les objets ayant checked : true-->
                            <!--[attr.id]="'todo-check-' + itemIndex"  Permet de générer automatiqument un id chaine de caractéere concaténées avec l'index du tableau-->
                           
                            <input type="checkbox" for="defaultCheck1" class="form-check-input" [attr.id]="'todo-check-' + itemIndex" [(ngModel)]="item.checked">
                            <!--text-->
                            <!-- boucle générant un id auto incrémenté[attr.for]="'todo-check-' + itemIndex"-->
                            <label class ="form-check-label" [attr.for]="'todo-check-' + itemIndex">
                                <!--on stock l'obket on lui didsant que le text entré devient l'attribut title de l'objet créée-->
                                {{ item.title }} 
                            </label>
                            <!--Bouton x-->
                            <!--on met les meme evenements qu'en en js-->
                            <!--(click)="removeItem($event)-->
                            <!--on ajoute ', item' ) ($, event,item) pour donner la variable récupérer via la boucle à la methode-->
                            <button class="btn btn-outline-danger btn-sm" (click)="removeItem( itemIndex)">
                                X
                            </button>
                        </li>
                        <!--Fin template-->
                    </ul>
                    
                    <div class="card-footer d-flex justify-content-between">
                        <div>
                             {{ todoArray.length }} left
                        </div>
                        <div>
                            <!--Bouton remove-->
                            <a class="btn btn-sm btn-link" href="#" role="button" (click)="clearCompletedItem()">Clear completed tasks</a>
                        </div>
                    </div>
                </div>
            
            
            
            <!--list group-->
            
        </div>
    </div>
</body>
</html>